<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Walkintour</a>
    <ul class="nav">
      <li class="active"><a href="#">Service</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
    <%= render 'cart' %>
  </div>
</div>